<!doctype html>

<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %} - NSU Grade Utils</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'core/css/bootstrap/bootstrap.min.css' %}">
  <!-- FontAwesome CSS -->
  <link rel="stylesheet" href="{% static 'core/css/fontawesome/fontawesome.min.css' %}">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>

<body>
  <header>
    <div class="text-center">
        <h1 class="mt-3">{% block heading %}{% endblock %}</h1>
    </div>
  </header>

  <main class="container">
    <div class="row justify-content-center">
      <div class="col col-md-8 mt-3 mb-3">
      {% if messages %}
      {% for message in messages %}
        <div class="alert alert-dismissible fade show{% if message.tags %}{{ message.tags }}{% endif %}">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
      {% endif %}
      {% block content %}{% endblock %}
      </div>
    </div>
  </main>

  <footer>
    <div class="text-center">
        <span class="text-muted">Under development</span>
    </div>
  </footer>

  <!-- Custom script -->
  <script>
    {# TODO: Add auto dismissal of success alerts after timeout #}
  </script>
  <!-- jQuery and Bootstrap JS -->
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"></script>
  <script src="{% static 'core/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
</body>

</html>
