<div id="add-next-trimester" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add next trimester</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Add {{ next_trimester_code }} as the next trimester?</p>
      </div>
      <div class="modal-footer">
        <form action="#" method="post">
          {% csrf_token %}
          <input type="hidden" name="student-slug" value="{{ student.slug }}">
          <input type="hidden" name="next_trimester_code" value="{{ next_trimester_code }}">
          <input type="hidden" name="action-type" value="add-next-trimester">
          <button type="submit" class="btn btn-primary">Add</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
