{% extends 'core/base.html' %}

{% block title %}Student Info{% endblock %}

{% block heading %}Student Info{% endblock %}

{% block content %}
  <p>ID: {{ student.nsuid }}</p>
  <p>Program: {{ student.program }}</p>
  <p>CGPA: {{ student.cgpa }}</p>
  <hr>

  <h2>Trimester Record</h2>
  <hr>
  <p>
  {% if next_trimester_code %}
    <button class="btn btn-primary" data-toggle="modal" data-target="#add-next-trimester">Add Next Trimester</button>
    {% include 'core/modal_trimester_create_next.html' %}
  {% else %}
    <button class="btn btn-primary" data-toggle="modal" data-target="#add-first-trimester">Add First Trimester</button>
    {% include 'core/modal_trimester_create.html' %}
  {% endif %}
  </p>
  <p>
    <ul>
    {% for trimester in student.trimesters.all %}
      <li>
        <a href="#">{{ trimester.code }}</a>
      </li>
    {% endfor %}
    </ul>
  </p>
{% endblock %}
